* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
}
.container {
    width: auto;
    background: #eee;
    border: 1px solid #999;
    position: relative;
    min-height: 460px;
    padding: 20px;
    margin: 20px;
}
.left {
    width: 200px;
    border: 1px solid #999;
    position: absolute;
    background-color: white;
    left: 20px;
    top: 20px;

}

.right {
    border: 1px solid #999;
    width: 120px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    background-color: white;


}
.center {
    margin: 0px 140px 0px 220px;
    background-color: white;
    border: 1px solid #999;
    padding: 20px;
}
.logo {
    margin: 20px;
    width: 80px;
    height: 80px;
    background: url("logo.png") no-repeat center;

}
.zhumeng {
    float: left;
}