* {
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(167, 163, 163, 0.52);
}

ol {
    margin-left: 30px;
}


h1,h2,h3,h4 {
    margin-top: 10px;
}
.picture {
    margin-left: 30px;
}

/*头部开始*/
.banner {
    width: 100%;
    height: 58px;
    background-color: black;
   /* border: 1px solid red;*/
}

.logo {
    width: 130px;
    height: 58px;
    float: left;
}

.nav {
    float: right;
    width: 410px;
    height: 58px;
}
ul {
    list-style: none;
}

.fd {
    float: left;
    width: 100px;
    height: 58px;
    text-align: center;
}
.n {

    text-decoration: none;
    color: rgba(148, 138, 138, 0.98);
    line-height: 58px;
    font-size: 12px;
}
.n:hover {
    font-size: 16px;
    color: white;
}

/*content开始*/
.one,.two,.three,.four,.five{
    background-color: white;
    margin: 20px;
    padding: 20px;
}
p {
    text-indent: 40px;
}

.pic {
    width: 110px;
    height: 110px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    height: 50px;
}

table,tr,td {
    border: 1px solid black;
}

.bgone {
    background-color: black;
    color: white;
}
.bgtwo {
    background-color: gainsboro;

}

.form {
    text-align: center;
}

.btn {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    border-radius: 8px;
    background-color: cornflowerblue;
    cursor: pointer;
}




/*
  结束*/

.footer {
    width: 100%;
    height: 58px;
    text-align: center;
    color: white;
    background-color: black;
    line-height: 58px;
    font-size: 12px;
}

.wrap {
    position: relative;
}

.aside {
    position: absolute;
    top: 58px;
    right: 0px;
    width: 325px;
    margin-left: 0;
}

.content {
    margin-right: 385px;
}